    
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!--jQuery and Bootstrap JS-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <title>Wesasships|Dashboard-student</title>
    <% if (applying) { %>
    <link rel="stylesheet" href="/assets/styles/index-styles.css">
    <link rel="stylesheet" href="/assets/styles/dashboard-styles.css">
    <link rel="shortcut icon" type="image/.jpeg" href="/assets/images/icons/Logo.jpeg">
    <% }else{ %>
      <link rel="stylesheet" href="../assets/styles/index-styles.css">
      <link rel="stylesheet" href="../assets/styles/dashboard-styles.css">
      <link rel="shortcut icon" type="image/.jpeg" href="../assets/images/icons/Logo.jpeg">
   <% } %>
   
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  </head>
  <% include partials/google.ejs %>

  <body>
      <% if(messages) {%>
        <% if(messages.errorMessage) {%>
           <div class="alert alert-danger">
               <p><%= messages.errorMessage %></p>
           </div>
      <%  } %>
      <% if(messages.successMessage) {%>
       <div class="alert alert-success">
           <p><%= messages.successMessage %></p>
       </div>
    <%  } %>
<%   } %>
      <div class="container" style="min-height: 80vh;">
      <!--top section of the page-->
    <nav class="navbar navbar-expand-sm navbar-light ">
        <% if(applying) { %>  
          <a href="/students/dashboard" class="navbar-brand ml-2"><img id='title-img' src="/assets/images/icons/title_logo.jpeg"></a> 
     <% }else{ %>
      <a href="/students/dashboard" class="navbar-brand ml-2"><img id='title-img' src="../assets/images/icons/title_logo.jpeg"></a>
    <% } %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarContent">
            <ul class="navbar-nav ml-auto mr-4">
              <% include partials/internshipList.ejs %>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Profile
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <p class="dropdown-item">Logged in as:</p>
                        <p class="dropdown-item">
                           <legend><%= student.firstName %> <%= student.lastName %><br></legend> 
                           <small class="text-center"><%= student.username %></small> 
                           <hr>
                           <% if(student.premium_user){ %>
                            <i class="fa fa-lightbulb-o" aria-hidden="true"></i>
                            <small class="text-center text-info">Premium User</small> 
                          <% } %>
                        </p>
                        <a class="dropdown-item" href="/students/manage_account">Manage Account</a>
                        <a class="dropdown-item" href="/students/delete_account">Delete Account</a>
                        <a class="dropdown-item" href="/students/logout">Logout</a>
                    </div>
                </li>    
            </ul>
        </div>     
    </nav>
    <% if(!student.phoneNumber) { %>
      <div class ="alert alert-info">
        <p>
          Adding a phone number helps your employers contact you easily.This phone number shall be visible on your resume.<br>
          <a href="/students/manage_account">Add Phone Number.</a>
        </p>
      </div>
  <%  } %>
  <% if(!student.city) { %>
    <div class ="alert alert-info">
      <p>
        Adding your city helps you find internships easily at places nearby you.Your city shall be visible on your resume.<br>
        <a href="/students/manage_account">Add City.</a>
      </p>
    </div>
<%  } %>
<% if(applying) {%>
    <div class="alert">
      <div class="alert-danger text-center" style="border:1px solid #1292c9; border-radius:8px; ">
        <p>
          You are about to proceed for application with this resume.
        </p>
        <a href="/internships/apply/<%= id %>">Proceed</a> OR <a href="/students/dashboard">Edit Resume</a>
      </div>
    </div>
<% }else { %>
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item active">
        <a class="nav-link  active" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="true">Resume</a>
    </li>
   <li class="nav-item ">
        <a class="nav-link " id="home-tab" href="/students/dashboard/applications">Applications</a>
    </li> 
</ul>
 <% } %>
   
          <div class="tab-content" id="myTabContent">

              <div class="tab-pane fade show active" id="contact" role="tabpanel" aria-labelledby="contact-tab">   
                <!--  <button class="btn btn-primary btn-block btn-styles">Download Resume</button>  -->              
                <div class="jumbotron" style="margin-top:10px;">
                    <div class="resume">
                      <div class= "ml-2" id="resume-header">
                        <div class="row">
                          <div class="col-6 col-md-4">
                            <p id="student-name"><h2><%= student.firstName %> <%= student.lastName %></h2></p>
                            <p style="color:#767676;">
                              <%= student.username %><br>
                              <% if(student.phoneNumber) {%>
                                 <%= student.phoneNumber %><br>
                              <% } %>
                              <% if(student.city) {%>
                                <%= student.city %><br>
                             <% } %>
                            </p>
                           </div>
                          <div class="col-6 col-md-4"></div>
                          <% if(!applying) {%>
                            <div class="col-3">
                                <a href="/students/manage_account"><i class="material-icons" style="margin-left:20px;">border_color</i></a>   
                             </div>
                         <% } %>
                         
                    </div>
                      </div><hr>
                      <div class ="row">
                        <div class="col-6 col-md-4 ml-2">
                          <h4 class="resume-field">EDUCATION</h4>
                        </div>
                        <div class="col-6 col-md-4 ml-2">
                          <ul class="resuinfo">
                            <% if(student.education) {%>
                           
                              <% if(!(Object.keys(student.education.phd).length === 0 && student.education.phd.constructor === Object)){ %>
                                <li>
                                 <strong>Ph.D</strong> <br>
                                 <% if(student.education.phd.status === 'on'){ %>
                                  <small class="text-success">Pursuing</small><br>
                              <%   } %>
                                  <small> 
                                  <%=student.education.phd.school %><br>
                                  <%=student.education.phd.year%> <br>
                                  <%=student.education.phd.score %><br>
                                  </small>
                                </li>
                            <%  } %>
                              <% if(!(Object.keys(student.education.postgrad).length === 0 && student.education.postgrad.constructor === Object)){ %>
                                <li>
                                 <strong>Master's</strong> <br>
                                 <% if(student.education.postgrad.status === 'on'){ %>
                                  <small class="text-success">Pursuing</small><br>
                              <%   } %>
                                  <small> 
                                  <%=student.education.postgrad.school %><br>
                                  <%=student.education.postgrad.year%> <br>
                                  <%=student.education.postgrad.score %><br>
                                  </small>
                                </li>
                            <%  } %>
                              <% if(!(Object.keys(student.education.undergrad).length === 0 && student.education.undergrad.constructor === Object)){ %>
                                <li>
                                 <strong>Bachelor's</strong> <br>
                                 <% if(student.education.undergrad.status === 'on'){ %>
                                  <small class="text-success">Pursuing</small><br>
                              <%   } %>
                                  <small> 
                                  <%=student.education.undergrad.school %><br>
                                  <%=student.education.undergrad.year%> <br>
                                  <%=student.education.undergrad.score %><br>
                                  </small>
                                </li>
                            <%  } %>
                            <% if(!(Object.keys(student.education.diploma).length === 0 && student.education.diploma.constructor === Object)){ %>
                              <li>
                               <strong>Diploma</strong> <br>
                               <% if(student.education.diploma.status === 'on'){ %>
                                <small class="text-success">Pursuing</small><br>
                            <%   } %>
                                <small> 
                                <%=student.education.diploma.school %><br>
                                <%=student.education.diploma.year%> <br>
                                <%=student.education.diploma.score %><br>
                                </small>
                              </li>
                          <%  } %>
                              <% if(!(Object.keys(student.education.class12).length === 0 && student.education.class12.constructor === Object)){ %>
                                <li>
                                 <strong>XII(Senior Secondary)</strong> <br>
                                  <small> 
                                  <%=student.education.class12.school %><br>
                                  <%=student.education.class12.board %> <%=student.education.class12.year%> <br>
                                  <%=student.education.class12.score %><br>
                                  </small>
                                </li>
                            <%  } %>
                            <% if(!(Object.keys(student.education.class10).length === 0 && student.education.class10.constructor === Object)){ %>
                              <li>
                               <strong>X(Secondary)</strong> <br>
                                <small> 
                                <%=student.education.class10.school %><br>
                                <%=student.education.class10.board %> <%=student.education.class10.year%> <br>
                                <%=student.education.class10.score %><br>
                                </small>
                              </li>
                          <%  } %>
                       <% } %> 
                          </ul>
                          <% if(!applying) { %>
                          <small><span class="add-field" data-toggle="modal" data-target="#EduModal">+Add Education</span></small>                                                           
                      <%}%>
                        </div>
                      </div><hr>
                    <div class ="row">
                        <div class="col-6 col-md-4 ml-2">
                          <h4 class="resume-field">SKILLS</h4>
                        </div>
                        <div class="col-6 col-md-4 ml-2">
                          <div class="row">
                              <% for(var i=0; i< student.skills.length; i++){ %>
                          <div class="col">
                                <%= student.skills[i].skill %><br>
                                <span style="font-size :0.5rem;">
                                  <% for(var j=1; j<=5; j++){ %>
                                    <% if(j<=student.skills[i].score){ %>
                                    <span class="fa fa-star checked"></span>
                                 <% }else{ %>
                                  <span class="fa fa-star"></span>
                                   <% } %>
                                <% } %><br>
                                </span>
                                <% if(!applying) { %>
                                <i class="fa fa-trash" data-item= "/skills/<%= student.skills[i].skill %>" ></i>
                               <% } %>
                          </div>
                             <% } %>
                            </div>
                         <% if(!applying) {%>
                          <% if(student.skills.length == 5 && !student.premium_user){%>
                            <span class="text-danger">
                              You have reached the maximum number of free skills!<br>
                              <a href="/premium_profile">Upgrade to a premium profile for more.</a>
                            </span>
                           <% }else{ %>
                         <small><span class="add-field" data-toggle="modal" data-target="#SkillsModal">+Add Skill</span></small>                                 
                          <% } %>
                        <% } %>
                        </div>
                        <% if(!applying) { %>
                          <% if(!student.premium_user) { %>
                            <div class="col-sm-2">
                              <div class="premium-ad" style="font-size:0.7rem;">
                                <i class="fa fa-lightbulb-o" aria-hidden="true"></i>
                                Add upto 5 skills for free.
                                <a href="/premium_profile">Upgrade to a premium profile for more.</a>
                              </div>
                            </div>
                          <% } %>
                       <% } %>
                       
                      </div><hr>
                    <div class ="row">
                        <div class="col-6 col-md-4 ml-2">
                          <h4 class="resume-field">TRAININGS</h4>
                        </div>
                        <div class="col-6 col-md-4 ml-2">
                          <ul class="resuinfo">
                            <% for(var i=0; i< student.trainings.length; i++){ %>
                              <li>
                               <strong><%= student.trainings[i].name %></strong> <br>
                               <small>
                                  <%= student.trainings[i].org %><br>
                                  <%= student.trainings[i].desc %>
                               </small>
                              </li>
                          <%  } %>
                         </ul>
                         <% if(!applying){ %>
                          <small><span class="add-field" data-toggle="modal" data-target="#TrainingModal">+Add Training</span></small>                                 
                       <%  } %>
                        </div>
                      </div><hr>  
                    <div class ="row">
                        <div class="col-6 col-md-4 ml-2">
                          <h4 class="resume-field">PROJECTS</h4>
                        </div>
                        <div class="col-6 col-md-4 ml-2">
                            <ul class="resuinfo">
                                <% for(var i=0; i< student.projects.length; i++){ %>
                                  <li>
                                   <strong><%= student.projects[i].name %></strong> <br>
                                   <small>
                                      <%= student.projects[i].desc %><br>
                                      <%if(student.projects[i].link){ %>
                                        Link : <a href="<%=student.projects[i].link%>"><%=student.projects[i].link%></a>
                                    <%  } %>
                                   </small>
                                  </li>
                              <%  } %>
                            </ul>
                            <% if(!applying){ %>
                            <small><span class="add-field" data-toggle="modal" data-target="#ProjectsModal">+Add Project</span></small>                                 
                           <% } %>
                        </div>
                      </div><hr> 
                    <div class ="row">
                        <div class="col-6 col-md-4 ml-2">
                          <h4 class="resume-field">WORK EXPERIENCE</h4>
                        </div>
                        <div class="col-6 col-md-4 ml-2">
                            <ul class="resuinfo">
                                <% for(var i=0; i< student.work_experience.length; i++){ %>
                                  <li>
                                   <strong><%= student.work_experience[i].name %></strong> <br>
                                   <small>
                                      <%= student.work_experience[i].org %><br>
                                       <%=student.work_experience[i].desc%>
                                   </small>
                                  </li>
                              <%  } %>
                            </ul>
                            <% if(!applying){ %>
                              <small><span class="add-field" data-toggle="modal" data-target="#WorksModal">+Add Work Experience</span></small>                                                           
                          <%  } %>
                        </div>
                      </div><hr>  
                      <div class ="row">
                          <div class="col-6 col-md-4 ml-2">
                            <h4 class="resume-field">ACHIEVEMENTS</h4>
                          </div>
                          <div class="col-6 col-md-4 ml-2">
                              <ul class="resuinfo">
                                  <% for(var i=0; i< student.achievements.length; i++){ %>
                                    <li>
                                     <strong><%= student.achievements[i].name %></strong> <br>
                                     <small>
                                         <%=student.achievements[i].desc%>
                                     </small>
                                    </li>
                                <%  } %>
                              </ul>
                              <% if(!applying) {%>  
                               <small><span class="add-field" data-toggle="modal" data-target="#AchievementsModal">+Add Achievement</span></small>                                                             
                           <%} %>
                              </div>
                        </div><hr>  
                    </div>
                  </div>               
                </div>  
            </div>
        </div>

        <% include partials/footer.ejs %>
<!--MODALS GO HERE:-->

<!-- EduModal -->
<div class="modal fade" id="EduModal" tabindex="-1" role="dialog" aria-labelledby="EduModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content modal-border">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-container">
        <h5 class="modal-title text-info text-left ml-4" id="EduModalLabel">Add Education:</h5><br>
            <form method="POST" action="/students/dashboard/resume/education">
                <div class="form-row">
                  <div class="col mr-2">
                    <strong class="text-info">Class X:</strong>
                    <input type="text" name="year_10" class="form-control input-box" placeholder="Year" value="<%=(student.education)?student.education.class10.year:''%>"><br>
                    <input type="text" name="school_10" class="form-control input-box" placeholder="School"  value="<%=(student.education)?student.education.class10.school:''%>"><br>
                    <input type="text" name="board_10" class="form-control input-box" placeholder="Board"  value="<%=(student.education)?student.education.class10.board:''%>"><br>
                    <input type="text" name="score_10" class="form-control input-box" placeholder="Score"  value="<%=(student.education)?student.education.class10.score:''%>"><br>
                  </div>
                  <div class="col ml-2">
                      <strong class="text-info">Class XII:</strong>
                      <input type="text" name="year_12" class="form-control input-box" placeholder="Year" value="<%=(student.education)?student.education.class12.year:''%>"><br>
                      <input type="text" name="school_12" class="form-control input-box" placeholder="School" value="<%=(student.education)?student.education.class12.school:''%>"><br>
                    <input type="text" name="board_12" class="form-control input-box" placeholder="Board"  value="<%=(student.education)?student.education.class12.board:''%>"><br>
                    <input type="text" name="score_12" class="form-control input-box" placeholder="Score"  value="<%=(student.education)?student.education.class12.score:''%>"><br>
                  </div>
                </div>
                <div class="form-row">
                    <div class="col mr-2">
                      <strong class="text-info">Under graduation:</strong>
                      <div class="form-check">
                        <% if (student.education){%>
                          <%if (student.education.undergrad.status === 'on'){ %>
                            <input class="form-check-input" type="checkbox" name="undergrad_status"checked>
                        <%  }else{ %>
                          <input class="form-check-input" type="checkbox" name="undergrad_status">
                      <%  } %>
                        <% }else{ %>
                          <input class="form-check-input" type="checkbox" name="undergrad_status">
                      <%  } %>
                        
                          <label class="form-check-label">
                            Pursuing
                          </label>
                      </div>
                      <input type="text" name="year_undergrad" class="form-control input-box" placeholder="Year" value="<%=(student.education)?student.education.undergrad.year:''%>"><br>
                      <input type="text" name="college_undergrad" class="form-control input-box" placeholder="College" value="<%=(student.education)?student.education.undergrad.school:''%>"><br>
                      <input type="text" name="score_undergrad" class="form-control input-box" placeholder="Score" value="<%=(student.education)?student.education.undergrad.score:''%>"><br>                  </div>
                      <div class="col ml-2">
                        <strong class="text-info">Post Grad:</strong>
                        <div class="form-check">
                            <% if (student.education){%>
                              <%if (student.education.postgrad.status === 'on'){ %>
                                <input class="form-check-input" type="checkbox" name="undergrad_status"checked>
                            <%  }else{ %>
                              <input class="form-check-input" type="checkbox" name="undergrad_status">
                          <%  } %>
                            <% }else{ %>
                              <input class="form-check-input" type="checkbox" name="undergrad_status">
                          <%  } %>
                            <label class="form-check-label">
                              Pursuing
                            </label>
                        </div>
                        <input type="text" name="year_postgrad" class="form-control input-box" placeholder="Year" value="<%=(student.education)?student.education.postgrad.year:''%>"><br>
                        <input type="text" name="college_postgrad" class="form-control input-box" placeholder="College" value="<%=(student.education)?student.education.postgrad.school:''%>"><br>
                        <input type="text" name="score_postgrad" class="form-control input-box" placeholder="Score" value="<%=(student.education)?student.education.postgrad.score:''%>"><br>
                    </div>
                  </div>
                  <div class="form-row">
                      <div class="col ml-2">
                          <strong class="text-info">Ph.D:</strong>
                          <div class="form-check">
                              <% if (student.education){%>
                                <%if (student.education.phd.status === 'on'){ %>
                                  <input class="form-check-input" type="checkbox" name="undergrad_status"checked>
                              <%  }else{ %>
                                <input class="form-check-input" type="checkbox" name="undergrad_status">
                            <%  } %>
                              <% }else{ %>
                                <input class="form-check-input" type="checkbox" name="undergrad_status">
                            <%  } %>
                              <label class="form-check-label">
                                Pursuing
                              </label>
                          </div>
                          <input type="text" name="year_phd" class="form-control input-box" placeholder="Year" value="<%=(student.education)?student.education.phd.year:''%>"><br>
                          <input type="text" name="college_phd" class="form-control input-box" placeholder="College" value="<%=(student.education)?student.education.phd.school:''%>"><br>
                          <input type="text" name="score_phd" class="form-control input-box" placeholder="Score" value="<%=(student.education)?student.education.phd.score:''%>"><br>
                      </div>
                      <div class="col ml-2">
                        <strong class="text-info">Diploma:</strong>
                        <div class="form-check">
                            <% if (student.education){%>
                              <%if (student.education.diploma.status === 'on'){ %>
                                <input class="form-check-input" type="checkbox" name="undergrad_status"checked>
                            <%  }else{ %>
                              <input class="form-check-input" type="checkbox" name="undergrad_status">
                          <%  } %>
                            <% }else{ %>
                              <input class="form-check-input" type="checkbox" name="undergrad_status">
                          <%  } %>
                            <label class="form-check-label">
                              Pursuing
                            </label>
                        </div>
                        <input type="text" name="year_diploma" class="form-control input-box" placeholder="Year" value="<%=(student.education)?student.education.diploma.year:''%>"><br>
                        <input type="text" name="college_diploma" class="form-control input-box" placeholder="College" value="<%=(student.education)?student.education.diploma.school:''%>"><br>
                        <input type="text" name="score_diploma" class="form-control input-box" placeholder="Score" value="<%=(student.education)?student.education.diploma.score:''%>"><br>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Save changes</button>
                  </div>
              </form>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- SkillsModal -->
<div class="modal fade" id="SkillsModal" tabindex="-1" role="dialog" aria-labelledby="SkillsModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content modal-border">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-container">
        <h5 class="modal-title text-info text-left ml-4" id="EduModalLabel">Select a skill:</h5><br>
        <span class="text-info">Request a skill at ashish@wesas.in</span>
            <form method="POST" action="/students/dashboard/resume/skills">
              <div class="form-group">
                <select class="form-control" id="exampleFormControlSelect1" name="skill">
                  <option>Select...</option>
                  <% for(var i=0; i< skills.length; i++ ){ %>
                    <option value="<%= skills[i].skill %>"><%= skills[i].skill %></option>
               <% } %>
                </select><br>
              <input type="submit" class="btn btn-primary" value="Add Skill">
              </div>
            </form>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- TrainingModal -->
<div class="modal fade" id="TrainingModal" tabindex="-1" role="dialog" aria-labelledby="TrainingModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content modal-border">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-container">
          <h5 class="modal-title text-info text-left ml-4" id="EduModalLabel">Add a Training:</h5><br>
              <form  method="POST" action="/students/dashboard/resume/trainings">
                <div class="form-group">
                  <label>What did you get trained in?</label>
                  <input class="form-control" placeholder="eg:Machine Learning" name="training_name"><br>
                  <label>Organization:</label>
                  <input class="form-control" placeholder="eg:Udemy" name="training_org"><br>
                  <label>Give a brief description of what you learnt.</label>
                  <textarea class="form-control" name="training_desc"></textarea><br>
                <input type="submit" class="btn btn-primary" value="Add Training">
                </div>
              </form>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- ProjectsModal -->
<div class="modal fade" id="ProjectsModal" tabindex="-1" role="dialog" aria-labelledby="ProjectsModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content modal-border">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-container">
          <h5 class="modal-title text-info text-left ml-4" id="EduModalLabel">Add a Project:</h5><br>
              <form  method="POST" action="/students/dashboard/resume/projects">
                <div class="form-group">
                  <label>Title:</label>
                  <input class="form-control" placeholder="eg: Image Recognition" name="proj_name"><br>
                  <label>Links to the project, if any:</label>
                  <input class="form-control" placeholder="eg: GitHub link" type="url" name="proj_link"><br>
                  <label>Give a brief description of your project.</label>
                  <textarea class="form-control" name="proj_desc"></textarea><br>
                <input type="submit" class="btn btn-primary" value="Add Project">
                </div>
              </form>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- WorksModal -->
<div class="modal fade" id="WorksModal" tabindex="-1" role="dialog" aria-labelledby="WorksModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content modal-border">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-container">
          <h5 class="modal-title text-info text-left ml-4" id="EduModalLabel">Add an Experience:</h5><br>
              <form  method="POST" action="/students/dashboard/resume/work_exp">
                <div class="form-group">
                  <label>Profile:</label>
                  <input class="form-control" placeholder="eg: Junior Developer" name="work_name"><br>
                  <label>Organization:</label>
                  <input class="form-control" placeholder="eg: Webbed Softwares and Services" name="work_org"><br>
                  <label>Give a brief description of your experience.</label>
                  <textarea class="form-control" name="work_desc"></textarea><br>
                <input type="submit" class="btn btn-primary" value="Add Experience">
                </div>
              </form>
          </div>
        </div>
      </div>
    </div>
  </div>  

  <!-- AchievementsModal -->
<div class="modal fade" id="AchievementsModal" tabindex="-1" role="dialog" aria-labelledby="AchievementsModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content modal-border">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-container">
          <h5 class="modal-title text-info text-left ml-4" id="EduModalLabel">Add an Achievement:</h5><br>
              <form  method="POST" action="/students/dashboard/resume/achievements">
                <div class="form-group">
                  <label>Title:</label>
                  <input class="form-control" placeholder="eg: Topped Class X" name="ach_name"><br>
                  <label>Give a brief description of your achievement.</label>
                  <textarea class="form-control" name="ach_desc"></textarea><br>
                <input type="submit" class="btn btn-primary" value="Add Experience">
                </div>
              </form>
          </div>
        </div>
      </div>
    </div>
  </div>  


<script>
  $('.fa-trash').on('click',(event)=>{
    var source = event.target;
    var url = '/students/dashboard/resume'+ $(source).attr('data-item');
    $.ajax({
      url:url,
      method:"DELETE",
      success:()=>{
        alert('Deleting skill...');
        window.location.href='/students/dashboard';
      }
    });
  }); 
</script>

  </body>
</html>

